--find-links https://pytorch-geometric.com/whl/torch-2.1.0+cu121.html
torch~=2.1.0
torch-scatter==2.1.2+pt21cu121
torch-sparse==0.6.18+pt21cu121
torch-cluster==1.6.2+pt21cu121
torch-geometric
polyscope
robust-laplacian